<div class="container-fluid">
    <div  class="row">
        <div class="col-md-12 header">
            <div class="col-sm-2">
                <img alt="Company Logo" class="logo" src="app/components/img/VN.png">
            </div>
            <div  class="col-sm-4 col-sm-offset-6 right">
                <div  class="col-sm-6 list">
                    <div class="col-sm-6"><p><a href="">Discover</a></p></div>
                    <div class="col-sm-6"><p><a href="">Home</a></p></div>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Search..." type="text">
                </div>
                
            </div>
        </div>
    </div>
</div>