
<div class="container-fluid">
    <div  class="row">
        <div class="col-md-12 header" [style.background-color]="getStyle()">
            <div class="col-sm-2">
                <img alt="Company Logo" class="logo" src="app/components/img/VN.png">
            </div>
            <div  class="col-sm-4 col-sm-offset-6 right">
                <div  class="col-sm-6 list">
                    <div class="col-sm-4" *ngIf="auth.isLogedIn()"><p><a routerLink="/discover">Discover</a></p></div>
                    <div class="col-sm-4" *ngIf="auth.isLogedIn()"><p><a routerLink="/playlist">Playlists</a></p></div>
                    <div class="col-sm-4">
                        <p>
                            <a *ngIf="!auth.isLogedIn()">Log In</a>
                            <a *ngIf="auth.isLogedIn()" (click)="logOut()">Log Out</a>
                        </p>
                    </div>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" placeholder="Search..." type="text" [(ngModel)]="keyString" (keydown)="search()" >

                </div>
                <div class="col-sm-2 searchBox">
                    <div class="col-sm-12 boxes" *ngFor="let item of artist" (click)="navigate(item.Name)">
                        <div class="col-sm-4">
                            <img src="{{item.ImgString[0]}}" alt="">
                        </div>
                        <div class="col-sm-8">
                            <h5>{{item.Name}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>