<div class="container-fluid">
    <div class="row poster">
        <div class="col-sm-12">
            <div class="col-sm-4 col-sm-offset-4">
                <h1>Feel The Vibe</h1>
            </div>
            
        </div>
    </div>
    <div class="row sections">
        <div class="col-sm-12">
            <div class="col-sm-6 wrap">
                <div class="col-sm-10 col-sm-offset-1 poss" id="block1">
                    <div class="col-sm-12 insider">
                        <h4>Sounds Gooooood!!!</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wrap">
                <div class="col-sm-10 col-sm-offset-1 poss" id="block2">
                    <div class="col-sm-12 insider">
                        <h4>Sounds Gooooood!!!</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-6 wrap">
                <div class="col-sm-10 col-sm-offset-1 poss" id="block3">
                    <div class="col-sm-12 insider">
                        <h4>Sounds Gooooood!!!</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 wrap">
                <div class="col-sm-10 col-sm-offset-1 poss" id="block4">
                    <div class="col-sm-12 insider">
                        <h4>Sounds Gooooood!!!</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row passat">
        <h1>Hello & welcome to VibeNation</h1>
        <p>Here you can visualise , in real-time , the listening habits & trends of VibeNation's global community.Go Explore.</p>
    </div>
    <div class="row sections">
        <div class="col-sm-12">
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
            <div class="col-sm-2 outter">
                <div class="col-sm-12 sets">
                    <h6>Album</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 ">
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 wraper">
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4 pic">
                    <img src="app/components/img/6.png" alt="">
                </div>
                <div class="col-sm-8">
                    <h4>Artist</h4>
                    <p>Lorem Ipsum</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row rassat">
        <h1>Explore the world of music on our VibeNation</h1>
        <button class="btn btn-danger">Discover</button>
    </div>
    
</div>