<div class="container-fluid">
    <div class="row top">
        <div class="col-sm-12">
            <div class="col-sm-6 left">
                <div class="col-sm-3">
                    <img src="app/components/img/5.png" alt="" class="pic">
                </div>
                <div class="col-sm-9">
                    <h2>Artist</h2>
                </div>
            </div>
            <div class="col-sm-4 col-sm-offset-2">
                <button class="btn btn-default" routerLink="/artist/:artist/overview">overview</button>
                <button class="btn btn-default" routerLink="/artist/:artist/albums">albums</button>
                <button class="btn btn-default" routerLink="/artist/:artist/songs">songs</button>
                <button class="btn btn-default" routerLink="/artist/:artist/similar">similar</button>
            </div>
        </div>
    </div>
    
        <router-outlet></router-outlet>
</div>