.top{
    background:url("app/components/img/aa.png");
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 120%;
    padding-top:10%;
    padding-left:10%;
    padding-right:10%;
    text-align:center;
    border-bottom:3pt solid red;
    overflow: visible;
}
.pic{
    width:100%;
    position:absolute;
    top:10%;
    left:5%;
    border-radius:50%;
}
.content{
    padding-top:5%;
    padding-bottom:5%;
    margin:0 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.album{
    width:100%;
}