<div class="row content">
    <h1>Albums</h1>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-4">
            <img src="app/components/img/2.png" alt="" class="album">
            <h4>Similar Album</h4>
        </div>
        <div class="col-sm-12">
            <h2>Similar</h2>
            <div class="col-sm-3 similar">
                <img src="app/components/img/2.png" alt="" class="album">
                <h4>Similar Album</h4>
            </div>
            <div class="col-sm-3 similar">
                <img src="app/components/img/2.png" alt="" class="album">
                <h4>Similar Album</h4>
            </div>
            <div class="col-sm-3 similar">
                <img src="app/components/img/2.png" alt="" class="album">
                <h4>Similar Album</h4>
            </div>
            <div class="col-sm-3 similar">
                <img src="app/components/img/2.png" alt="" class="album">
                <h4>Similar Album</h4>
            </div>
        </div>
    </div>