<div class="container-fluid">
    <div class="row top">
        <div class="col-sm-12">
            <div class="col-sm-6 left">
                <div class="col-sm-3">
                    <img src="app/components/img/5.png" alt="" class="pic">
                </div>
                <div class="col-sm-9">
                    <h2>User Name</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-12 list">
            <div class="col-sm-4">
                <img src="app/components/img/5.png" alt="" class="album">
            </div>
            <div class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Song Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Heaven's in Here</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Under the God</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Working Class Hero</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Amazing</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>I Can't Read</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Prisoner of Love</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Tin Machine</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Maggie's Farm (Live)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-sm-12 list">
            <div class="col-sm-4">
                <img src="app/components/img/5.png" alt="" class="album">
            </div>
            <div class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Song Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Heaven's in Here</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Under the God</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Working Class Hero</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Amazing</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>I Can't Read</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Prisoner of Love</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Tin Machine</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Maggie's Farm (Live)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
        <div class="col-sm-12 list">
            <div class="col-sm-4">
                <img src="app/components/img/5.png" alt="" class="album">
            </div>
            <div class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Rank</th>
                        <th>Song Name</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>1</td>
                        <td>Heaven's in Here</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>Under the God</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>Working Class Hero</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>Amazing</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>I Can't Read</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>Prisoner of Love</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>Tin Machine</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>Maggie's Farm (Live)</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    
        
</div>