<div class="container-fluid">
    <div class="row top">
        <div class="col-sm-12">
            <div class="col-sm-6 left">
                <div class="col-sm-3">
                    <img src="app/components/img/5.png" alt="" class="pic">
                </div>
                <div class="col-sm-9">
                    <h2>User Name</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row content">
        <div class="col-sm-12 list">
            <div class="col-sm-4">
                <img src="app/components/img/5.png" alt="" class="album">
            </div>
            <div class="col-sm-8">
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Artist</th>
                        <th>Song Name</th>
                        <th>Action</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of playlist; let i = index">
                        <td>{{item.Artist}}</td>
                        <td>{{item.SongName}}</td>
                        <td class="play">
                            <img src="app/components/img/play.png" (click)="playSong(item.YTUrl)"/>
                        </td>
                        <td>
                          <span class="glyphicon glyphicon-remove" aria-hidden="true" (click)="deleteSong(item.YTUrl,i)"></span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>        
</div>